body {
    font-family: 'Festive', cursive;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.7;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: #e8e8e8;
}

h1{
    color:#ffffff;
    font-weight: 500;
}