.dashboard{
height:100vh;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color:#232b2b;

font-family: sans-serif;
button{
    margin-left: 2rem;
}
} 
.recharts-responsive-container{
  min-width: 480px;
  transform: translateY(-50px);
}
  tspan{
    fill:#fff !important;
    transform: translateY(50px) !important;
  }



.legend-item-1{
  transform: translateX(150px);
}
.legend-item-0{
  transform: translateX(-80px);
}
