.dashboard{
  height:100%;
min-height:100vh;
display:flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
background-color:rgba(32, 29, 29, 0.945);
font-family: sans-serif;
form{
  display: flex;
  justify-content: space-around;
}

} 
.recharts-responsive-container{
  min-width: 480px;
  min-height:400px;
  transform: translateY(-50px);
}
  tspan{
    fill:#fff !important;
    transform: translateY(50px) !important;
  }



.legend-item-1{
  transform: translateX(150px);
}
.legend-item-0{
  transform: translateX(-80px);
}
